Pose/data/processed/feature_data/3101_01_pose.csv
Pose/data/processed/feature_data/3101_02_pose.csv
Pose/data/processed/feature_data/3101_03_pose.csv
Pose/data/processed/feature_data/3102_01_pose.csv
Pose/data/processed/feature_data/3102_02_pose.csv
Pose/data/processed/quality_control/keypoint_bad_windows.csv
Pose/data/processed/quality_control/metric_bad_window_indices.csv
Pose/data/processed/quality_control/metric_bad_windows.csv
Pose/data/processed/reports/processing_report.csv
Pose/data/processed/reports/processing_summary.txt
Pose/utils/__pycache__/__init__.cpython-39.pyc
Pose/utils/__pycache__/__init__.cpython-312.pyc
Pose/utils/__pycache__/coordinate_normalization.cpython-39.pyc
Pose/utils/__pycache__/coordinate_normalization.cpython-312.pyc
Pose/utils/__pycache__/data_loading.cpython-39.pyc
Pose/utils/__pycache__/data_loading.cpython-312.pyc
Pose/utils/__pycache__/feature_extraction.cpython-39.pyc
Pose/utils/__pycache__/feature_extraction.cpython-312.pyc
Pose/utils/__pycache__/landmark_config.cpython-39.pyc
Pose/utils/__pycache__/landmark_config.cpython-312.pyc
Pose/utils/__pycache__/masking.cpython-39.pyc
Pose/utils/__pycache__/masking.cpython-312.pyc
Pose/utils/__pycache__/pipeline.cpython-39.pyc
Pose/utils/__pycache__/pipeline.cpython-312.pyc
Pose/utils/__pycache__/plotting.cpython-39.pyc
Pose/utils/__pycache__/plotting.cpython-312.pyc
Pose/utils/__pycache__/quality_control.cpython-39.pyc
Pose/utils/__pycache__/quality_control.cpython-312.pyc
Pose/utils/__pycache__/statistical_analysis.cpython-39.pyc
Pose/utils/__pycache__/statistical_analysis.cpython-312.pyc
Pose/utils/__pycache__/statistics.cpython-39.pyc
Pose/utils/__pycache__/temporal_filtering.cpython-39.pyc
Pose/utils/__pycache__/temporal_filtering.cpython-312.pyc
Pose/_old/figs_models.ipynb
Pose/_old/pose_preprocessing.ipynb
Pose/_old/preprocessing.py
Pose/_old/stats_figures.py
Pose/output/figures/blink_dist_statistical_bars.png
Pose/output/figures/feature_comparison_matrix.png
Pose/output/figures/head_rotation_angle_statistical_bars.png
Pose/output/figures/mouth_dist_statistical_bars.png
Pose/output/figures/normalization_effects.png
Pose/output/figures/sample_features_comparison.png
Pose/output/figures/sample_features.png
PNAS_Draft.pdf
Pose/data/raw
Pose/data/processed/interp_filtered
Pose/data/processed/masked
Pose/data/processed/norm_screen
Pose/data/processed/templates
Pose/data/processed/reduced
Pose/data/processed/features