.env
.claude
.vscode
.DS_Store
__pycache__
.ipynb_checkpoints
*.pyc
*.pyo
*.pyd
*.sqlite3
.misc
*/data/raw_data/*
*/data/processed_data/*
*/data/processed/*
*/data/summary_data/*
*/data/figures/*
*/data/models/*
*/data/*
*/*_data
*/_old/*
*/.ipynb_checkpoints/*
*/.vscode/*
*/logs/*
*.log
.DS_Store
*/modeling/figures/*
MATB_performance/matb_outputs
Pose/utils/__pycache__/*